---
---
<header id="hdr">
  <div class="hdr-left">
    <span class="hdr-name">Jovanna Remaeus</span>
    <div class="hdr-role">Production Designer</div>
  </div>
  <nav class="hdr-nav">
    <a href="#">CV</a>
    <a href="#">Contact</a>
  </nav>
</header>
